body {
    margin: 0;
}

.is-displayed-desktop {
    display: none;
}

@media (min-width: 481px) {
    .is-displayed-desktop {
        display: block;
    }
}

.is-displayed-desktop-l {
    display: none;
}

@media (min-width: 769px) {
    .is-displayed-desktop-l {
        display: block;
    }
}

.is-displayed-mobile {
    display: none;
}

@media (max-width: 480px) {
    .is-displayed-mobile {
        display: block;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Baskerville Old Face", serif;
}

p {
    font-size: 24px;
}
h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

@media (max-width: 480px) {
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 36px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
}

ul, li {
    all: unset;
}